# intellij
# http://stackoverflow.com/a/5534865
*.iml
!.idea/
.idea/*
!.idea/copyright/
!.idea/codeStyleSettings.xml
!.idea/runConfigurations/

# gradle
/local.properties
.gradle
/build

# osx junk
.DS_Store

# remove api key from git
app/src/main/res/values/apikey.xml
